<%
def coach_answer(your_message)
  message = your_message.downcase
  if message.include? "i am going to work"
    return "Great!"
  elsif message.include? "?"
    return "Silly question, get dressed and go to work!"
  else
    return "I don't care, get dressed and go to work!"
  end
end
%>

<div class="answer-box">
  <h4>  <%= params[:question] %> </h4>
  <h6>  <em>-You</em></h6>
</div>

<div class="answer-box answer-coach">
  <h4>  <%= coach_answer(params[:question]) %></h4>
  <h6>  <em>-Coach</em></h6>
</div>


<%= link_to "Ask a new question", ask_path %>
