<h6>Ask your coach anything</h6>
<form action="/answer" class="row" data-turbo="false">
<input type="text" class="form-control" name="question">
<input type="submit" value="Ask!" class="btn btn-primary">
</form>
